[package]
name = "meal_manager"
version = "0.1.0"
edition = "2024"

[dependencies]
# GUI
xilem = { git = "https://github.com/linebender/xilem.git" }
xilem_core = { git = "https://github.com/linebender/xilem.git", package = "xilem_core" }
masonry = { git = "https://github.com/linebender/xilem.git", package = "masonry" }
winit = "0.30"

# 异步运行时
compio = { version = "0.17", features = ["runtime", "macros"] }
# 本地数据库
redb = "3.1"
# 通信
crossbeam-channel = "0.5"
# 序列化
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
regex = "1.10"
# 错误处理
anyhow = "1.0"
thiserror = "2.0"

[profile.dev]
debug = 0
incremental = true

[profile.test]
debug = 0
incremental = true
