[package]
name = "meal_manager"
version = "0.1.0"
edition = "2024"

[dependencies]
#ui
makepad-widgets = "1.0.0"
# 异步运行时
compio = { version = "0.17", features = ["runtime", "macros"] }
# 本地数据库
redb = "3.1"
# 通信
crossbeam-channel = "0.5"
# 序列化
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
regex = "1.10"
# 错误处理
anyhow = "1.0"

[profile.dev]
debug = 0
incremental = true

[profile.test]
debug = 0
incremental = true
