[package]
name = "meal_manager"
version = "0.1.0"
edition = "2024"

[dependencies]
#ui
# makepad-widgets = "*"
makepad-widgets = { git = "https://github.com/makepad/makepad", branch = "rik" }
# 异步运行时
compio = { version = "*", features = ["dispatcher","runtime"] }
# 本地数据库
redb = "*"
# 序列化
serde = { version = "*", features = ["derive"] }
serde_json = "*"
regex = "*"
# 错误处理
anyhow = "*"
# 日期时间处理
fastant = {version = "*"}

[profile.dev]
debug = 0
incremental = true

[profile.test]
debug = 0
incremental = true
